@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import './utilites/common';
@import './utilites/vars';
@import './components/servises';
@import './components/brands';
@import './components/gallery1';

body {
  font-family: $font-main;
}
.container {
  margin: 0 auto;
  &-regular {
    width: 1220px;
  }

  &-wide {
    width: 100%;
  }
}

.button-yellow {
  box-shadow: 4px 4px 0 $color-main-sky-blue;
  background-color: $color-main-yellow;
  color: black;
  font-weight: 700;
  padding: 16px 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
