$color-main-orange: #f7a801;
$color-main-yellow: #fbed1f;
$color-main-sky-blue: #3da9f4;

$background-color-dark-gray:  #1b242b;

$font-main: 'Raleway' 'sans-serif';
$font-secondary: 'Open Sans' 'sans-serif';