$color-main-orange: #f7a801;
$color-main-yellow: #fbed1f;


$color-main-sky-blue: #3da9f4;

$blue-box-shadow: 4px 4px 0 $color-main-sky-blue;

$color-gray: #8d98a1;

$background-color-gray: #F6F6F7;
$background-color-dark-gray:  #1b242b;

$color-black: #1d293f;

$font-main: 'Raleway', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
