<section class="benefits">
  <div class="benefits__container container-regular">
    <div class="benefits__heading">
      <p class="benefits__heading-name">
        переваги
      </p>
      <p class="benefits__heading-whywe">
        Чому
        <b>
          саме ми?
        </b>
      </p>
    </div>
    <div class="benefits__cards">
      <div class="benefits-card">
        <svg class="benefits-card--image" width="48" height="48">
          <use href="/src/images/icon.svg#icon-lightning_solid"></use>
        </svg>
        <p class="benefits-card--heading">
          Найкращий сервіс
        </p>
        <p class="benefits-card--description">
          Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.
        </p>
      </div>
      <div class="benefits-card">
        <svg class="benefits-card--image" width="48" height="48">
          <use href="/src/images/icon.svg#icon-people"></use>
        </svg>
        <p class="benefits-card--heading">
          Найкраща команда
        </p>
        <p class="benefits-card--description">
          Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.
        </p>
      </div>
      <div class="benefits-card">
        <svg class="benefits-card--image" width="48" height="48">
          <use href="/src/images/icon.svg#icon-thumb-up-solid"></use>
        </svg>
        <p class="benefits-card--heading">
          Найкращий результат
        </p>
        <p class="benefits-card--description">
          Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.
        </p>
      </div>
    </div>
    <button type="button" class="button-yellow">
      безкоштовна консультація
    </button>
  </div>
</section>