<section class="blog">
  <div class="blog__container container-regular">
    <div class="blog__heading">
      <p class="blog__heading--more">
        більше інформації
      </p>
      <div class="blog__heading--fresh">
        <p>
          найсвіжіші <b>пости у блозі</b>
        </p>
        <button type="button" class="button-yellow blog__heading--button blog__button--desktop">
          переглянути блог
        </button>
      </div>
    </div>
    <div class="blog__posts">
      <div class="blog__posts--recent">
        <div class="post post__recent">
          <img class="post__image post__recent--image" src="./images/recent_post.png" alt="">
          <p class="post__date post__recent--date">
            24/12/2022
          </p>
          <p class="post__theme post__recent--theme">
            двигун
          </p>
          <p class="post__heading post__recent--heading">
            Believing neglected so so allowance existence departure.
          </p>
          <p class="post__text post__recent--text">
            Blessing welcomed ladyship she met humoured sir breeding her. Six curiosity day assurance bed necessary.
          </p>
        </div>
        <div class="post post__recent">
            <img class="post__image post__recent--image" src="./images/recent_post.png" alt="">
            <p class="post__date post__recent--date">
              24/12/2022
            </p>
            <p class="post__theme post__recent--theme">
              двигун
            </p>
            <p class="post__heading post__recent--heading">
              Believing neglected so so allowance existence departure.
            </p>
            <p class="post__text post__recent--text">
              Blessing welcomed ladyship she met humoured sir breeding her. Six curiosity day assurance bed necessary.
            </p>
          </div>

        </div>
        <div class="blog__posts--old">
          <div class="post post__old">
            <img class="post__old--image" src="./images/recent_post.png">
            <div class="old__post--info">
              <p class="post__date post__old--date">
                24/12/2022
              </p>
              <p class="post__theme post__old--theme">
                двигун
              </p>
              <p class="post__old--heading">
                If we calculate the hard drive, we can get to the PCI feed.
              </p>
            </div>
          </div>
          <div class="post post__old">
            <img class="post__old--image" src="./images/recent_post.png">
            <div class="old__post--info">
              <p class="post__date post__old--date">
                24/12/2022
              </p>
              <p class="post__theme post__old--theme">
                двигун
              </p>
              <p class="post__old--heading">
                If we calculate the hard drive, we can get to the PCI feed.
              </p>
            </div>
          </div>
          <div class="post post__old">
            <img class="post__old--image" src="./images/recent_post.png">
            <div class="old__post--info">
              <p class="post__date post__old--date">
                24/12/2022
              </p>
              <p class="post__theme post__old--theme">
                двигун
              </p>
              <p class="post__old--heading">
                If we calculate the hard drive, we can get to the PCI feed.
              </p>
            </div>
          </div>
          <div class="post post__old">
            <img class="post__old--image" src="./images/recent_post.png">
            <div class="old__post--info">
              <p class="post__date post__old--date">
                24/12/2022
              </p>
              <p class="post__theme post__old--theme">
                двигун
              </p>
              <p class="post__old--heading">
                If we calculate the hard drive, we can get to the PCI feed.
              </p>
            </div>
          </div>
          <button type="button" class="button-yellow blog__heading--button blog__button--mobile">
            переглянути блог
          </button>
        </div>
      </div>
    </div>
  </div>
</section>