<section class="brands">
  <div class="brands__container container-regular">
    <div id="brandsGallery">
      <div class="brands__slide" id="brandsSlide">
        <div class="brands__logo">
          <img src="./images/bmw.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Fiat.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Ford.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Honda.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Hyundai.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Jeep.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Kia.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Land.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Mercedes.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Nissan.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Toyota.png" alt="">
        </div>
        <div class="brands__logo">
          <img src="./images/Volvo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>