<section class="brands">
  <div class="brands__container container-regular">
    <div id="brandsGallery">
      <div class="brands__slide" id="brandsSlide">
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-bmw"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Fiat"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Ford"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Honda"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Hyundai"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Jeep"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Kia"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Land"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Mercedes"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Nissan"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Toyota"></use>
          </svg>
        </div>
        <div class="brands__logo">
          <svg class="contact__" width="64" height="64">
            <use href="/src/images/icon.svg#icon-Volvo"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>