<section class="brands">
  <div class="brands__container container-regular" id="brandsGallery">
    <div class="brands__slide" id="brandsSlide">
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        1
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        2
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        3
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        4
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        5
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        6
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        7
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        8
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        9
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        10
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        11
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        12
      </div>
      <div class="brands__logo">
        <img src="./images/logo.png" alt="123">
        13
      </div>
    </div>
  </div>
</section>