<section class="catalog">
  <div class="catalog__container container-regular">
    <div class="catalog__description">
      <p class="catalog__description--heading">
        каталог <b>товарів</b>
      </p>
      <p class="catalog__description--subheading">
        Quidem autem ipsam. Temporibus maiores velit qui in. Non omnis eligendi occaecati voluptatem deserunt.
      </p>
    </div>
    <div class="catalog__container--cards">
      <div class="catalog__card card">
        <img class="card__photo" src="./images/Product.png" alt="">
        <h1 class="card__heading">
          товар №1
        </h1>
        <p class="card__description">
          Molestias reprehenderit molestiae rerum.
        </p>
      </div>
      <div class="catalog__card card">
        <img class="card__photo" src="./images/Product.png" alt="">
        <h1 class="card__heading">
          товар №2
        </h1>
        <p class="card__description">
          Sunt aut et voluptate numquam culpa quasi incidunt quam eos.
        </p>
      </div>
      <div class="catalog__card card">
        <img class="card__photo" src="./images/Product.png" alt="">
        <h1 class="card__heading">
          товар №3
        </h1>
        <p class="card__description">
          Qui quia rerum est qui id distinctio voluptates rerum autem.
        </p>
      </div>
    </div>
    <button type="button" class="button-yellow catalog__button">
      Переглянути всі
    </button>
  </div>
</section>