<section class="contacts">
  <div class="contacts__container container-regular">
    <div class="contacts__left">
      <div class="contacts__graphic graphic">
        <p class="graphic__heading">графік <b>роботи</b></p>
        <p class="graphic__description">Ми цінуємо кожного клієнта і пишаємось що 60% клієнтів повертаються до нас знову.</p>
        <div class="graphic__schedule">
          <svg class="graphic__schedule--image" width="40" height="40">
            <use href="/src/images/icon.svg#icon-watch_solid_by"></use>
          </svg>
          <div class="graphic__schedule--days">
            <p class="graphic--paragraph">Пн.- Сб.</p>
            <p class="graphic--paragraph">Нд.</p>
          </div>
          <div class="graphic__schedule--time">
            <p class="graphic--paragraph">8:00 - 20:00​</p>
            <p class="graphic--paragraph">9:00 - 18:00</p>
          </div>
          <div class="graphic__schedule--weekend">
            <p class="graphic--paragraph">БЕЗ ВИХІДНИХ</p>
          </div>
        </div>
      </div>
      <div class="contacts__ourcontacts ourcontacts">
        <p class="ourcontacts__heading">
          наші <b>Контакти</b>
        </p>
        <p class="ourcontacts__description">
          Ми цінуємо кожного клієнта і пишаємось що 60% клієнтів повертаються до нас знову.
        </p>
        <div class="ourcontacts__phone">
          <svg class="ourcontacts__phone--image" width="40" height="40">
            <use href="/src/images/icon.svg#icon-phone-solid-by"></use>
          </svg>
          <div class="ourcontacts__phone--links">
            <a href="#">+38 (068) 440-13-13</a>
            <a href="#">+38 (068) 440-13-13</a>
          </div>

        </div>
        <div class="ourcontacts__mail">
          <svg class="ourcontacts__mail--image" width="40" height="40">
            <use href="/src/images/icon.svg#icon-mail-solid-by"></use>
          </svg>
          <a href="#" class="ourcontacts__mail--link">autoplatformua@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="contacts__right">
      <div class="contacts__right--consult consult">
        <div class="consult__heading">
          Записатись на <b>консультацію</b>
        </div>
        <div class="consult__description">
          Ми завжди раді вашому візиту в Auto Platform, але краще заздалегідь зарезервувати час
        </div>
        <div class="consult__form">
          <form action="" class="contact-form">
            <label class="form-input" for="phone">
              Телефон*
              <input class="contact-form__input" type="text" id="phone">
            </label>
            <label for="name">
              Ім’я*
              <input class="contact-form__input" type="text" id="name">
            </label>
            <label for="email">
              e-mail
              <input class="contact-form__input" type="text" id="email">
            </label>
            <label for="message">
              Повідомлення
              <input class="contact-form__input" type="text" id="message">
            </label>
            <button type="button" class="button-yellow">
              Відправити
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>