<header class="header">
    <div class="container header__container">
        <a href="./index.html" lang="en" class="header__nav--logo"><img src="/src/images/logo.png" alt="Логотип"></a>
        <nav class="header__nav nav">
            <ul class="header__nav--list">
                <li class="header__nav--item"><a href="./index.html" class="header__nav--link current">Головна</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Товари</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Послуги</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Регламент</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Блог</a></li>
            </ul>
        </nav>
        <ul class="header__contact contact">
            <li class="header__contact--item">
                <a href="tel:+380994401313" class="header__contact--tel"><svg class="header__contact--icon" width="16" height="16">
                    <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
                </svg>
                    +38 (099) 440-13-13</a>
            </li>
            <li class="header__contact--item">
                <a href="tel:+380684401313" class="header__contact--tel">
                    <svg class="header__contact--icon" width="16" height="16">
                    <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
                </svg>
                    +38 (068) 440-13-13</a>
            </li>
        </ul>
        <button type="button" class="header__button button-yellow"><svg class="contact__tel" width="16" height="16">
            <use href="/src/images/icon.svg#icon-phone-solid-b"></use>
        </svg> Передзвонiть менi</button>
        <ul class="header__social">
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-instagram-alt"></use>
                </svg>
            </a>
        </li>
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-facebook-circle"></use>
                </svg>
            </a>
        </li>
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
        </ul>
    </div>
</header>