<header class="header" id="header">
    <div class="container header__container">
        <a href="./index.html" lang="en" class="header__nav--logo"><img src="/src/images/logo.png" alt="Логотип"></a>
        <nav class="header__nav nav">
            <ul class="header__nav--list">
                <li class="header__nav--item"><a href="./index.html" class="header__nav--link current">Головна</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Товари</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Послуги</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Регламент</a></li>
                <li class="header__nav--item"><a href="" class="header__nav--link">Блог</a></li>
            </ul>
        </nav>
        <ul class="header__contact contact">
            <li class="header__contact--item">
                <a href="tel:+380994401313" class="header__contact--tel"><svg class="header__contact--icon" width="16" height="16">
                    <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
                </svg>
                    +38 (099) 440-13-13</a>
            </li>
            <li class="header__contact--item">
                <a href="tel:+380684401313" class="header__contact--tel">
                    <svg class="header__contact--icon" width="16" height="16">
                    <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
                </svg>
                    +38 (068) 440-13-13</a>
            </li>
        </ul>
        <button type="button" class="header__button button-yellow"><svg class="contact__tel" width="16" height="16">
            <use href="/src/images/icon.svg#icon-phone-solid-b"></use>
        </svg> Передзвонiть менi</button>
        <ul class="header__social">
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-instagram-alt"></use>
                </svg>
            </a>
        </li>
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-facebook-circle"></use>
                </svg>
            </a>
        </li>
        <li class="header__social--item">
            <a href="#" class="header__social--link">
                <svg class="header__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
        </ul>
        <button type="button" class="menu-btn" id="menu-btn" data-menu-button aria-expanded="false">
        </button>

        <div class="mobile" data-menu >
            <div class="mobile__menu"><a href="./index.html" lang="en" class="mobile__logo"><img class="mobile__logo-img" src="/src/images/logo.png" alt="Логотип"></a></div>
            <nav class="mobile__nav">
                <ul class="mobile__nav--list">
                    <li class="mobile__nav--item"><a href="./index.html" class="header__nav--link current">Головна</a></li>
                    <li class="mobile__nav--item"><a href="" class="header__nav--link">Товари</a></li>
                    <li class="mobile__nav--item"><a href="" class="header__nav--link">Послуги</a></li>
                    <li class="mobile__nav--item"><a href="" class="header__nav--link">Регламент</a></li>
                    <li class="mobile__nav--item"><a href="" class="header__nav--link">Блог</a></li>
                </ul>
            </nav>
            <ul class="mobile__contact">
                <li class="mobile__contact--item">
                    <a href="tel:+380994401313" class="mobile__contact--tel"><svg class="mobile__contact--icon" width="16"
                            height="16">
                            <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
                        </svg>
                        +38 (099) 440-13-13</a>
                </li>
                <li class="mobile__contact--item">
                    <a href="tel:+380684401313" class="mobile__contact--tel">
                        <svg class="mobile__contact--icon" width="16" height="16">
                            <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
                        </svg>
                        +38 (068) 440-13-13</a>
                </li>
            </ul>
            <button type="button" class="mobile__button button-yellow"><svg class="contact__tel" width="16" height="16">
                    <use href="/src/images/icon.svg#icon-phone-solid-b"></use>
                </svg> Передзвонiть менi</button>
            <ul class="mobile__social">
                <li class="mobile__social--item">
                    <a href="#" class="mobile__social--link">
                        <svg class="mobile__social--icon" width="20" height="20">
                            <use href="/src/images/icon.svg#icon-instagram-alt"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile__social--item">
                    <a href="#" class="mobile__social--link">
                        <svg class="mobile__social--icon" width="20" height="20">
                            <use href="/src/images/icon.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile__social--item">
                    <a href="#" class="mobile__social--link">
                        <svg class="mobile__social--icon" width="20" height="20">
                            <use href="/src/images/icon.svg#icon-facebook-circle"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile__social--item">
                    <a href="#" class="mobile__social--link">
                        <svg class="mobile__social--icon" width="20" height="20">
                            <use href="/src/images/icon.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="tablet container-regular" data-header="closed" id="tablet">
      <a class="tablet__logo" href="#">
        <img src="./images/logo.png" alt="">
      </a>
      <div class="tablet__contacts">
        <a href="#">
          <svg class="header__contact--icon" width="16" height="16">
            <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
          </svg>
          +38 (099) 440-13-13
        </a>
        <a href="#">
          <svg class="header__contact--icon" width="16" height="16">
            <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
          </svg>
          +38 (068) 440-13-13
        </a>
      </div>
      <button type="button" class="button-yellow tablet__button">
        <svg class="header__contact--icon" width="16" height="16" filter="brightness(0%)">
          <use href="/src/images/icon.svg#icon-phone-solid-w"></use>
        </svg>
        Передзвоніть мені
      </button>
      <button type="button" class="tablet__burger" id="tabletBurger">
        <img src="./images/burger.png" alt="">
      </button>
      <div class="tablet__nav-links">
        <a href="#">Головна</a>
        <a href="#">Товари</a>
        <a href="#">Послуги</a>
        <a href="#">Регламент</a>
        <a href="#">Блог</a>
      </div>
      <ul class="tablet__social">
        <li class="tablet__social--item">
            <a href="#" class="tablet__social--link">
                <svg class="tablet__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-instagram-alt"></use>
                </svg>
            </a>
        </li>
        <li class="tablet__social--item">
            <a href="#" class="tablet__social--link">
                <svg class="tablet__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="tablet__social--item">
            <a href="#" class="tablet__social--link">
                <svg class="tablet__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-facebook-circle"></use>
                </svg>
            </a>
        </li>
        <li class="tablet__social--item">
            <a href="#" class="tablet__social--link">
                <svg class="tablet__social--icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
        </ul>
    </div>
</header>