<header class="header">
    <div class="container header__container">
        <nav class="header__navi navi">
            <a href="./index.html" lang="en" class="navi__logo"><img src="/src/images/image 5.png" alt="Логотип"></a>
            <ul class="navi__list">
                <li class="navi__item"><a href="./index.html" class="navi__link current">Головна</a></li>
                <li class="navi__item"><a href="./index.html" class="navi__link">Товари</a></li>
                <li class="navi__item"><a href="" class="navi__link">Послуги</a></li>
                <li class="navi__item"><a href="" class="navi__link">Регламент</a></li>
                <li class="navi__item"><a href="" class="navi__link">Блог</a></li>
            </ul>
        </nav>
        <ul class="header__contact contact">
            <li class="contact__item">
                <a href="tel:+380994401313" class="contact__tel"><svg class="contact__" width="16" height="16">
                    <use href="./images/icon.svg#icon-bmw"></use>
                </svg>
                    +38 (099) 440-13-13</a>
            </li>
            <li class="contact__item">
                <a href="tel:+380684401313" class="contact__tel">
                    +38 (068) 440-13-13</a>
            </li>
        </ul>
        <button type="button">Передзвонiть менi</button>
    </div>
</header>