<section class="hero">
  <div class="hero__container container-wide">
    <svg width="48" height="48" class="button__left">
      <use href="./images/icon.svg#icon-arrow"></use>
    </svg>
    <svg width="48" height="48" class="button__right">
      <use href="./images/icon.svg#icon-arrow"></use>
    </svg>
    <div class="hero__slides">
      <img src="./images/heroimage.png" class="hero__slide" alt="">
      <img src="./images/heroimage.png" class="hero__slide" alt="">
      <img src="./images/heroimage.png" class="hero__slide" alt="">
    </div>
  </div>
</section>