<section class="heroCards">
  <div class="container-regular heroCards__container">
    <div class="heroCards__card">
      <svg class="heroCards__card--image" width="48" height="48">
        <use href="/src/images/icon.svg#icon-shina"></use>
      </svg>
      <p class="heroCards__heading">
        шино
      </p>
      <p class="heroCards__heading">
        монтаж
      </p>
      <p class="heroCards__description">
        сезонне зберігання коліс
      </p>
    </div>
    <div class="heroCards__card">
      <svg class="heroCards__card--image" width="48" height="48">
        <use href="/src/images/icon.svg#icon-dvigun"></use>
      </svg>
      <p class="heroCards__heading">
        ремонт двигунів
      </p>
      <p class="heroCards__description">
        обслу
      </p>
      <p class="heroCards__description">
        говування
      </p>
    </div>
    <div class="heroCards__card">
      <svg class="heroCards__card--image" width="48" height="48">
        <use href="/src/images/icon.svg#icon-hodova"></use>
      </svg>
      <p class="heroCards__heading">
        ходова
      </p>
      <p class="heroCards__description">
        ремонт ходової частини
      </p>
    </div>
    <div class="heroCards__card">
      <svg class="heroCards__card--image" width="48" height="48">
        <use href="/src/images/icon.svg#icon-autoelectrica"></use>
      </svg>
      <p class="heroCards__heading">
        авто
      </p>
      <p class="heroCards__heading">
        електрика
      </p>
      <p class="heroCards__description">
        комп’ютерна
      </p>
      <p class="heroCards__description">
         діагностика
        </p>
    </div>
  </div>
</section>