<section class="modal" id="modal">
  <div class="modal__container">
    <div class="modal__content">
      <div class="modal__content--heading">
        <p>Записатись на <b>консультацію</b></p>
        <img src="./images/cross.png" id="modal-close" alt="">
      </div>
      <p class="modal__content--description">
        Ми завжди раді вашому візиту в Auto Platform, але краще заздалегідь зарезервувати час
      </p>
      <form action="" class="contact-form modal-form">
        <label class="contact-form__label" for="phone">
          Телефон*
        </label>
        <input
            class="contact-form__input"
            type="text"
            id="phone"
            placeholder="+380 _ _ _  _ _ _  _ _*"
          >
        <label class="contact-form__label" for="name">
          Ім’я*
        </label>
        <input
            class="contact-form__input"
            type="text"
            id="name"
            placeholder="Ваше ім’я*"
          >
        <label class="contact-form__label" for="email">
          e-mail
        </label>
        <input
            class="contact-form__input"
            type="text"
            id="email"
            placeholder="Ваш e-mail"
          >
        <label class="contact-form__label" for="message">
          Повідомлення
        </label>
        <textarea
            placeholder="Ваш e-mail"
            class="contact-form__textarea"
            name="message"
            id="message"
            cols="30"
            rows="10"
            maxlength="500"
          ></textarea>
        <button type="button" class="button-yellow contact-form__button">
          Відправити
        </button>
      </form>
    </div>
  </div>
</section>