<section class="process">
  <div class="process__container container-regular" id="process">
    <div class="process__heading">
      <p>
        процес обслуговування
      </p>
    </div>
    <div class="process__description">
      <p>
        Як ми
        <b>
          працюємо
        </b>
      </p>

    </div>
    <div class="process__card--container process-first">
      <div class="process__card">
        <svg class="process__card--image" width="97" height="97">
          <use href="/src/images/icon.svg#icon-consultation"></use>
        </svg>
        <p class="process__card--heading">
          консультація
        </p>
        <p class="process__card--description">
          From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly.
        </p>
      </div>
    </div>
    <div class="process__arrow arrow-first">
      <img src="./images/Arrow.png" alt="">
    </div>
    <div class="process__card--container process-second">
      <div class="process__card">
        <svg class="process__card--image" width="97" height="97">
          <use href="/src/images/icon.svg#icon-repair"></use>
        </svg>
        <p class="process__card--heading">
          ремонт
        </p>
        <p class="process__card--description">
          From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly.
        </p>
      </div>
    </div>
    <div class="process__arrow arrow-second">
      <img src="./images/Arrow.png" alt="">
    </div>
    <div class="process__card--container process-third">
      <div class="process__card">
        <svg class="process__card--image" width="97" height="97">
          <use href="/src/images/icon.svg#icon-getting"></use>
        </svg>
        <p class="process__card--heading">
          отримання
        </p>
        <p class="process__card--description">
          From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly.
        </p>
      </div>
    </div>

  </div>
</section>