<section class="statistics">
  <div class="statistics__container container-regular">
    <div class="statistics__heading section__heading">
      <p class="testimonials__heading-name section__heading-name">
        трохи статистики про нас
      </p>
      <p class="statistics__heading-whywe section__heading-desc">
        наші
        <b>
          досягнення
        </b>
      </p>
    </div>
    <div class="statistics__numbers">
      <div class="statistics__numbers--wrapper">
        <p class="statistics__count">
          6
        </p>
        <p class="statistics__description">
          років
           <b>
              досвіду
           </b>
        </p>
      </div>
      <div class="statistics__numbers--wrapper">
        <p class="statistics__count">
          11
        </p>
        <p class="statistics__description">
          кваліфікованих
           <b>
              майстрів
           </b>
        </p>
      </div>
      <div class="statistics__numbers--wrapper">
        <p class="statistics__count">
          1456
        </p>
        <p class="statistics__description">
          задоволених
           <b>
              клієнтів
           </b>
        </p>
      </div>

    </div>

  </div>
</section>