<section class="testimonials">
  <div class="testimonials__container container-regular">
    <div class="testimonials__heading section__heading">
      <p class="testimonials__heading-name section__heading-name">
        що говорять про нас
      </p>
      <p class="testemonials__heading-whywe section__heading-desc">
        відгуки
        <b>
          клієнтів
        </b>
      </p>
    </div>
    <div class="review review__container">
      <div class="review__card">
        <img class="review__image" src="./images/review.png" alt="">
        <div class="review__info">
          <svg class="review__info--icon" width="27" height="25">
            <use href="/src/images/icon.svg#icon-quote"></use>
          </svg>

          <div class="review__info--text info">
            <p class="info__text">
              I had a pre-purchase inspection on a Mazda. I was looking to buy it and they let me bring it in on a Saturday with no appoint. Great guys! I recommend this service to everyone who looks for quality!
            </p>
            <p class="info__name">
              William Hill
            </p>
            <p class="info__date">
              26 September, 2022
            </p>
          </div>
        </div>
      </div>
      <div class="review__card">
        <img class="review__image" src="./images/review.png" alt="">
        <div class="review__info">
          <svg class="review__info--icon" width="27" height="25">
            <use href="/src/images/icon.svg#icon-quote"></use>
          </svg>

          <div class="review__info--text info">
            <p class="info__text">
              I had a pre-purchase inspection on a Mazda. I was looking to buy it and they let me bring it in on a Saturday with no appoint. Great guys! I recommend this service to everyone who looks for quality!
            </p>
            <p class="info__name">
              William Hill
            </p>
            <p class="info__date">
              26 September, 2022
            </p>
          </div>
        </div>
      </div>
      <div class="review__card">
        <img class="review__image" src="./images/review.png" alt="">
        <div class="review__info">
          <svg class="review__info--icon" width="27" height="25">
            <use href="/src/images/icon.svg#icon-quote"></use>
          </svg>

          <div class="review__info--text info">
            <p class="info__text">
              I had a pre-purchase inspection on a Mazda. I was looking to buy it and they let me bring it in on a Saturday with no appoint. Great guys! I recommend this service to everyone who looks for quality!
            </p>
            <p class="info__name">
              William Hill
            </p>
            <p class="info__date">
              26 September, 2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>