<section class="testimonials">
  <div class="benefits__heading">
    <p class="benefits__heading-name">
      переваги
    </p>
    <p class="benefits__heading-whywe">
      Чому
      <b>
        саме ми?
      </b>
    </p>
    <div class="review review__container">
      <div class="review__card">
        <img class="review__image" src="./images/review.png" alt="">
        <div class="review__info">
          <svg class="review__info--icon" width="27" height="25">
            <use href="/src/images/icon.svg#icon-quote"></use>
          </svg>
          <p>
            I had a pre-purchase inspection on a Mazda. I was looking to buy it and they let me bring it in on a Saturday with no appoint. Great guys! I recommend this service to everyone who looks for quality!
          </p>
          <p>
            William Hill
          </p>
          <p>
            26 September, 2022
          </p>
        </div>
      </div>
    </div>
  </div>
</section>