<section class="wide-consult">
  <div class="container-wide wide-consult__container">
    <div class="wide-consult__text">
      <p class="wide-consult__heading">
        Отримайте безкоштовну консультацію
      з нашим експертом з автосервісу
      </p>
      <p class="wide-consult__description">
        Запишіться на консультацію онлайн або дзвоніть нам +380636363633
      </p>
    </div>
    <button type="button" class="ads__button button-yellow">
      безкоштовна консультація
    </button>
  </div>
</section>