.benefits {
  background-color: $background-color-gray;
  text-align: center;

  padding: 88px 0;

  @include onTablet {
    padding: 48px 0;
  }

  &__heading {
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 48px;

    &-name {
      margin: 0 0 24px 0;

      font-size: 16px;

      color: #757981;
    }

    &-whywe {
      margin: 0 0 48px 0;

      font-size: 36px;

      @include onMobile {
        font-size: 24px;
      }
    }
  }

  &__cards {
    display: flex;
    margin-bottom: 24px;

    @include onTablet {
      margin: 0 24px 24px 24px;
    }

    @include onMobile {
      flex-direction: column;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 32px;

    text-align: initial;

    margin-right: 56px;

    @include onMobile {
      margin: 0 24px 24px 24px;
    }

    &:last-child {
      margin: 0;
    }

    &--image {
      margin-bottom: 24px;
    }

    &--heading {
      margin: 0 0 24px 0;
      color: #1D293F;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;

      text-transform: uppercase;

      @include onTablet {
        font-size: 20px;
      }

      @include onMobile {
        font-size: 16px;
      }
    }

    &--description {
      margin: 0;

      color: $color-gray;
    }

    @include onTablet {
      margin-right: 24px;
    }
  }
}