.contacts {
  background-color: $background-color-dark-gray;

  &--line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color-main-yellow;
    box-shadow: 4px 4px 0px #3DA9F4;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;

    @include onTablet {
      flex-direction: column;
    }

    @include onMobile {
      flex-direction: column;
      padding: 48px 0;
    }
  }

  &__left {
    max-width: 552px;
    @include onTablet {
      margin-right: 0;
      max-width: unset;
    }

    @include onMobile {
      margin-right: 0;
    }
  }

  &__right {
    max-width: 552px;

    @include onTablet {
      max-width: unset;
    }
  }
}

.graphic {
  position: relative;

  &__heading {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 16px 0;

    color: white;
    text-transform: uppercase;

    @include onMobile {
      font-size: 32px;
    }
  }

  &__description {
    color: $color-gray;
    margin-bottom: 24px;
    line-height: 21px;
  }

  &__schedule{

    display: flex;
    align-items: center;
    color: white;

    margin-bottom: 16px;

    &--image {
      margin-right: 24px;
    }

    &--days  {
      margin-right: 16px;
    }

    &--time {
      margin-right: 24px;
      font-weight: 700;
    }

    &--weekend {
      font-weight: 700;
    }
  }

  &--paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.ourcontacts {

  position: relative;
  margin-bottom: 64px;

  &__heading {
    font-size: 36px;
    text-transform: uppercase;
    color: white;

    margin: 48px 0 16px 0;

    @include onMobile {
      font-size: 32px;
    }
  }

  &__description {
    color: $color-gray;
    line-height: 21px;

    margin-bottom: 16px;
  }

  &__phone {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    &--image {
      margin-right: 24px;
    }

    &--links {
      display: flex;
      flex-direction: column;

      & > a {
        color: white;
        font-weight: 700;
      }
    }
  }

  &__mail {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &--image {
      margin-right: 24px;
    }

    &--link {
      color: white;
      font-weight: 700;
    }
  }
}

.consult {
  &__heading {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 24px 0;

    @include onMobile {
      font-size: 32px;
    }

    color: white;
    text-transform: uppercase;
  }

  &__description {
    color: $color-gray;
    margin-bottom: 48px;
  }

  &__form {
    background-color: white;
    padding: 32px;
  }
}

.adress {

  @include onMobile {
    margin-bottom: 48px;
  }

  &__heading {
    color: white;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;

    margin: 0;

    @include onMobile {
      font-size: 32px;
    }
  }

  &__description {
    color: $color-gray;
    line-height: 24px;

    margin: 0  0 36px 0;
  }

  &__map {
    margin: 0;

    @include onTablet {
      margin-bottom: 96px;
    }
  }
}

.contact-form {
  &__label {
    display: block;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 24px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 8px 0 8px 24px;
    margin-bottom: 16px;

    border : 2px solid #F6F6F7;
  }

  &__textarea {
    display: block;
    resize: none;
    overflow-y: scroll;
    width: 100%;
    padding: 8px 0 8px 24px;
    margin-bottom: 16px;

    border : 2px solid #F6F6F7;
  }

  &__button {
    display: block;
    margin: 0 0 0 auto;
  }
}
