.gallery {
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: black;

    @include onTablet {
      grid-template-columns: repeat(5, 1fr);
    }

    @include onMobile {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__image {
    max-height: 288px;
    width: 100%;
  }
}