.header {
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 0px rgb(0 0 0 / 25%);
    z-index: 10;
 
    &__container {
        width: 1240px;
        width: 100vw;
        @include onMobile {
            padding: 16px 24px;
        }


        display: flex;
        align-items: center;
        padding: 16px 120px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    }
    &__nav {
        display: flex;
        align-items: center;
        margin: auto;
        font-family: $font-main;
        font-weight: 700;
        &--list {
            display: flex;
            align-items: center;
            @include onMobile {
                display: none;
            }

        }
        &--item {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
        &--link {
            color: white;
            text-decoration: none;
        }
    }
    &__contact{
        @include onMobile {
            display: none;
        }
        &--item{
            text-align: center;
            justify-content: center;
            &:not(:last-child) {
                    padding-bottom: 8px;
                }
        }
        &--icon{
            margin-right: 8px;
        }
        &--tel{
            display: flex;
            text-align: center;
            justify-content: center;
            font-style: inherit;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0.7px;
            color: white;
            text-decoration: underline;

        }
    }
    &__social {
        display: flex;
        align-items: center;

        @include onMobile {
            display: none;
        }
        &--item {
                &:not(:last-child) {
                    margin-right: 18px;
                }
            }
    }
    &__button {
        margin: auto;

        @include onMobile {
            display: none;
        }
    }
}