.header {
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 0px rgb(0 0 0 / 25%);
    z-index: 10;

    transition: all 0.3s;

    @include onTablet {
      width: 100%;
    }

    &__container {
        width: 1240px;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 16px 120px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        @include onTablet {
          display: none;
        }

        @include onMobile {
          max-width: 720px;
          padding: 16px 24px;
      }

    }
    &__nav {
        display: flex;
        align-items: center;
        margin: auto;
        font-family: $font-main;
        font-weight: 700;

        @include onTablet {
          display: none;
      }

        &--list {
            display: flex;
            align-items: center;

            @include onMobile {
                display: none;
            }

        }
        &--item {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
        &--link {
            color: white;
            text-decoration: none;
        }
    }
    &__contact{
      @include onTablet {
        display: none;
    }
        @include onMobile {
            display: none;
        }
        &--item{
            text-align: center;
            justify-content: center;
            &:not(:last-child) {
                    padding-bottom: 8px;
                }
        }
        &--icon{
            margin-right: 8px;
        }
        &--tel{
            display: flex;
            text-align: center;
            justify-content: center;
            font-style: inherit;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0.7px;
            color: white;
            text-decoration: underline;

        }
    }
    &__social {
        display: flex;
        align-items: center;

        @include onTablet {
          display: none;
      }

        @include onMobile {
            display: none;
        }
        &--item {
                &:not(:last-child) {
                    margin-right: 18px;
                }
            }
    }
    &__button {
        margin: auto;

        @include onMobile {
            display: none;
        }
    }
}

.tablet {
  align-items: center;
  height: 96px;
  display: none;
  grid-template-rows: repeat(2, 96px);
  grid-template-columns: repeat(12, 8%);
  filter: brightness(1);

  transition: all 0.3s;

  overflow: hidden;

  @include onTablet {
    display: grid;
  }

  @include onMobile {
    display: none;
  }

  &__logo {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    grid-column-start: 4;
    grid-column-end: 7;
  & > a {
    color: white;
    text-decoration: underline;
    font-weight: 700;
  }
  }

  &__button {
    grid-column-start: 7;
    grid-column-end: 11;
  }

  &__burger {
    grid-column-start: 12;
    grid-column-end: 13;

    background-color: transparent;

    border: unset;

    cursor: pointer;
  }

  &__nav-links {
    display: flex;
    justify-content: space-between;
    grid-column-start: 2;
    grid-column-end: 9;

    & > a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
    grid-column-start: 10;
    grid-column-end: 12;
    display: flex;
    justify-content: space-between;
  }
}