.heroCards {
  background-color: $background-color-dark-gray;
  margin-bottom: -10px;

  &__container {
    max-height: 256px;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    position: relative;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      max-height: 344px;

      overflow-y: visible;
    }

    @include onMobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      max-height: 200px;

      overflow-y: visible;
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    color: $color-black;
    display: block;

    overflow-wrap: normal;

    @include onTablet {
      font-size: 20px;
    }

    @include onMobile {
      font-size: 16px;
      display: block;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-black;
    margin: 0;

    display: table-cell;

    @include onMobile {
      font-size: 14px;
      line-height: 16px;
      display: block;
    }
  }

  &__card {
    background-color: white;
    margin: 0 32px 0 0;
    padding: 48px 24px;
    z-index: 5;
    position: relative;
    top: -40px;

    max-height: 256px;

    &:last-child {
      margin: 0;
    }

    @include onTablet {
      margin: 0 0 24px 0;
      padding: 24px;
      &:nth-child(1) {
        margin: 0 24px 24px 0;
      }
      &:nth-child(3) {
        margin: 0 24px 24px 0;
      }
      &:last-child {
        margin: 0 0 24px 0;
      }
    }

    @include onMobile {
      max-width: 148px;
      max-height: 200px;
      padding: 16px;
      &:nth-child(1) {
        margin: 0 8px 16px 0;
      }
      &:nth-child(2) {
        margin: 0 0 16px 8px;
      }
      &:nth-child(3) {
        margin: 0 8px 16px 0;
      }
      &:nth-child(4) {
        margin: 0 0 16px 8px;
      }
    }

    &--image {
      margin-bottom: 32px;

      @include onTablet {
          margin-bottom: 16px;
      }

      @include onMobile {
        margin-bottom: 16px;
    }
    }
  }
}